/node_modules
/public/hot
/public/storage
/vendor
/storage/*.key
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/sb_admin/
/public/sb_admin/vendor/
/public/sb_admin/
/startbootstrap-sb-admin-2-gh-pages
